<div class="row">
  <div class="large-12 columns">
    <h1> Wikis <h1/>
    <% if can? :create, @types %>
      <%= link_to "New Type", new_type_path, class: 'button radius round' %>
    <% end %>
    <% if can? :read, @types %>
      <% @types.each do |type| %>
        <%= link_to type.name, type %>
      <% end %>
    <% end %>
  </div>
</div>