<div class="index row">
  <div class="small-6 small-centered columns">
    <h1 class="index">Welcome to Bio-Wiki</h1>
    <p>You can create your own wiki!</p>
  </div>

  <div class="small-6 small-centered columns">
    <ul>
    <li class="index">As a free plan member, you can create as many public wikis as you want!</li>
    <li class="index">As a premium plan member, you can manage private wikis.</li>
  </div>
  <div class="small-6 small-centered columns">
    <p> <%= link_to "Sign Up", new_user_registration_path, class: 'button radius round' %> </p>
  </div>
</div>

