<head>
<script src="js/foundation-datepicker.js"></script>
<link rel="stylesheet" href="stylesheets/foundation-datepicker.css">
</head>
<div class="row">
  <div class="panel small-12 columns">
    <h2><strong><%= @user.name %></strong></h2>
    <hr />
    <%= render "form" %>
  </div>
</div>