<%= form_for @subscription, html: {id: "payment-form"} do |f|%>
  <% @plans.each  do |plan|%>
    <%= f.label plan.name%>
    <%= f.radio_button :plan_id, plan.id %>
  <% end -%>

<div class="row">
  <div class="large-12 columns">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="large-12 columns">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="row">
    <div class="large-6 columns">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    </div>
    <div class="large-6 columns">
      <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
    </div>
  </div>
  <div class="lrage-12 columns">
  <%= f.submit "submit", class: 'button radius round' %>
  </div>
<% end -%>  
</div>