<div class="row">
  <div class="large-12 columns">
    <h1><%= @post.title %></h1>
    <p><%= markdown @post.body %></p>

    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_type_post_path(@type, @post), class: 'button radius round' %>
    <% end %>
  </div>
</div>
