<div class="row">
  <div class="panel small-12 columns">
    <h1> All Wikis </h1><br />
    <% if can? :create, Post %>
      <%= link_to "New Wiki", new_post_path, class: 'button radius round' %> <br /><br />
    <% end %>

      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <small>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></small><br /><br />
      <% end %>
  </div>
</div>
