<div class="row">
  <div class="large-12 columns">
  <h1>Shared Wikis</h1><br />
  <% @shared_wikis.each do |s_wiki| %>
    <h3><%= link_to s_wiki.title, s_wiki %></h3>
    <small>Shared by <%= s_wiki.user.name %></small>
  <% end %> 
  </div>
</div>